# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# Streamlit
.streamlit/

# Model files (optional)
*.zip
*.pt
*.pth

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Python cache
*.cache

# RL models (optional)
ppo_incident_model*